{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>
{% if message %}
<h1> {{message }}</h1>
{% endif %}
<fieldset>
    <table>
        <tr>
            <td>
                Profile Pic :
            </td>
            <td>
                  {% if user.profile.profile_pic %}
                      <img src="{{ user.profile.profile_pic.url }}" width="240px">
                  {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                Username :
            </td>
            <td>
                {{ user.username }}
            </td>
        </tr>
        <tr>
            <td>
                First Name :
            </td>
            <td>
                {{ user.first_name }}
            </td>
        </tr>
        <tr>
            <td>
                Last Name :
            </td>
            <td>
                {{ user.last_name }}
            </td>
        </tr>
        <tr>
            <td>
                Email :
            </td>
            <td>
                {{ user.email }}
            </td>
        </tr>
    </table>
    <br>
    <form method = "GET" action = '{% url "edit" %}'>
                    {% csrf_token %}
                    <input type="submit" value = "Edit Details" id = "edit"><br><br>
                </form>
    {% if notifications %}
    <h3>Notifications :: </h3>
    {{ notifications }}<br><br>
    {% endif %}

    <table>
     <tr>
        <td>
            <form method = "POST" action = '{% url "home" %}'>
                {% csrf_token %}
                <input type="submit" value = "Go to Chatroom" name="type"><br><br>
                <input type="submit" value = "Personal Chat" name="type"><br><br>
                <input type="submit" value = "Join or Create Group" name="type"><br><br>
                <input type="submit" value = "Go to Group" name="type"><br><br>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form method = "POST" action = '{% url "logout" %}'>
                {% csrf_token %}
                <input type="submit" value = "Logout" id = "logout">
            </form>
        </td>
    </tr>
    </table>
</fieldset>

</body>
</html>