<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Personal Chat</title>
  </head>
  <body>

   <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">{{username}}</label>
                        <p id = 'status'></p>
                        {% if thread %}
                        <pre><span style="font-family: Arial; font-size: 15px;">
                        {{ thread }}
                        </span></pre>
                        {% endif %}
                        <ul style="list-style-type:none" id = "message-list">
                        </ul>
                       <br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text" autocomplete="off" required></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>
    <!--form enctype="multipart/form-data">
        <input type="file" name="image" id="image" autocomplete="off">
        <input type="submit" name="submit2" id="submit2" value="Submit">
    </form-->

    {{ request.user.username|json_script:"login_username" }}
    {{ username|json_script:"username" }}
    <script>
        const login_username = JSON.parse(document.getElementById('login_username').textContent);
        const username = JSON.parse(document.getElementById('username').textContent);
        //The 'username' above is recorded for the url.

        document.querySelector('#submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': login_username,
            }));
            messageInputDom.value = '';
        };
        //The 'login_username' used above is assigned in line 31. The 'login_username' is used to record which user is sending the message so we can append it while displaying.
        //The 'username' is JSON.stringify is used to send it to chat socket


        const chatSocket = new WebSocket (
            'ws://' +
            window.location.host +
            '/Personal/ws/'+
            username +
            '/'
        );
        //The 'username' used in above url is the one to whom we have to send message.

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let x = data.number_people
            console.log(data);
            const ul = document.getElementById("message-list")
            var li = document.createElement('li');
            li.append(document.createTextNode('('+data.time+') '+data.username + ' : ' + data.message + '\n'))
            if (data.username == login_username) {
                li.style.textAlign = "right";
                ul.append(li);
            }
            else {
                li.style.textAlign = "left";
                ul.append(li);
            }
            //document.querySelector('#chat-text').value += ('('+data.time+') '+data.username + ' : ' + data.message + '\n');
            if (x == 1) {
                document.getElementById('status').innerHTML = '(Offline)';
            }
            else if (x == 2) {
                document.getElementById('status').innerHTML = '(Online)';
            }
        }
        //The 'data.username' used above is from the json returned from consumer.py and is used to show which user has send the message.
    </script>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>

</html>